@font-face {
  font-family: Inter;
  src: url('./font/Inter-VariableFont_slnt\,wght.ttf') ;
}
@font-face {
  font-family: Inter-bold;
  src: url('./font/static/Inter-ExtraBold.ttf') ;
}
.git{
    position: absolute;
 
    top: 10px; /* Adjust this value as needed */
    right: 10px; /* Adjust this value as needed */
    z-index: 1000; /* Ensure the icon stays on top of other elements */
    text-decoration: none;

}
.git:hover,
.git:active {
  text-decoration: none; /* Remove underline on hover and active states */
}
#upwork-link{
    position: absolute;
 
    top: 10px; /* Adjust this value as needed */
    right: 50px; /* Adjust this value as needed */
    z-index: 1000; /* Ensure the icon stays on top of other elements */
    text-decoration: none;

}
*{
    margin: 0;
    padding: 0;
}
.topnav_links{
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
  flex-direction: row ;
  
}
.topnav_link{
    display: flex;
    gap: 1rem;
    
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .topnav_item{
    list-style-type: none;
  }

  .topnav_menu  {
    
  
    @media (width < 40em) {
      background-color: #DFF3FE;
      position: fixed;
      inset: 0;
      padding: 1.5rem;
      
    }
  }

a{
    text-decoration: none;
    color: #60607A;
    font-family: Inter-bold;
}
header{
    background-color: #F5F7FA; height: 400px;
}
body {

    font-family: Inter;
    font-size: 24px;
    background-color: #DFF3FE; /* Replace with your desired color */
    font-style: bold;
  }
#upwork-link:hover,
#upwork-link:active {
  text-decoration: none; /* Remove underline on hover and active states */
}
.gitimg{
    width: 20px;
    height: 20px

}
.center{
    color: #60607A;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#showcase{
   display: grid;
   grid-template-areas: 'qr news agecal'
                        ' col Landing huddle';
                        /* 'tip '; */

    grid-gap: 10px;
    PADDING-LEFT: 20PX;

}

.qr{
    grid-area: qr;
}
/* .tip{
    grid-area: tip;
} */
.agecal{
    grid-area: agecal;
}
.col{
    grid-area: col;
}
.Landing{
    grid-area: Landing;
}
.huddle{
    grid-area: huddle;
}
.news{
    grid-area: news;
}

#image{
   height: 213.33px;
    width: 300px;
} 
.qrlink{
  size: 24px;
  text-decoration: none;
  padding: 0px 0px 0px 120px;

  grid-area: qr;
}
.agecallink{
  size: 24px;
  text-decoration: none;
  padding: 0px 0px 0px 60px;

  grid-area: agecal;

}
.newslink{
  size: 24px;
  text-decoration: none;
  padding: 0px 0px 0px 80px;

  grid-area: news;

}
.huddlelink{
  size: 24px;
  text-decoration: none;
  padding: 0px 0px 0px 30px;

  grid-area: huddle;

}
.collink{
  size: 24px;
  text-decoration: none;
  padding: 0px 0px 0px 100px;


  grid-area: col;
}
.landinglink{
  size: 24px;
  text-decoration: none;
  padding: 0px 0px 0px 80px;


  grid-area: col;
}


.Landingdiv{
  width: 300px;
  height: 240px;
  grid-area: Landing;
}
.coldiv{
  width: 300px;
  height: 240px;
  grid-area: col;
}
.qrdiv{
  width: 300px;
  height: 240px;
  grid-area: qr;
}
.agecaldiv{
  width: 300px;
  height: 240px;
  grid-area: agecal;
}
.newsdiv{
  width: 300px;
  height: 240px;
  grid-area: news;
}
.huddlediv{
  width: 300px;
  height: 240px;
  grid-area: huddle;
}


/* FORM */
footer{
    background-color: #F5F7FA; height: 400px;
}

form {
    width: 400px;
    position: absolute;
 
    left: 30%;
    padding: 20px;
    border-radius: 8px;

  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {

    background-color: #E6E6E6;
    width: 100%;
    margin: 10;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #0056b3;
    color: #60607A;
    border: none;
    margin: 10;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  @media only screen and (max-width: 900px)  {

  .center > h1 {
    font-size: medium;
  }
  
  #showcase{
    display: grid;
    grid-template-areas: 'qr'
                         'news' 
                         'agecal'
                         ' col'
                         'Landing' 
                         'huddle';
                         /* 'tip '; */
 
     grid-gap: 10px;
     PADDING-LEFT: 20PX;
 
 }
 .overlay{
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0;
  height: 213.33px;
  width: 300px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  grid-area: qr;
}
.overlay1{
  position: absolute;
  top: 650px;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0;
  height: 213.33px;
  width: 300px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  grid-area: news;
}

.overlay2{
  position: absolute;
  top: 900px;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0;
  height: 213.33px;
  width: 300px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  grid-area: agecal;
}
.overlay3{
  position: absolute;
  top: 1150px;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0;
  height: 213.33px;
  width: 300px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  grid-area: col;
}
.overlay4{
  position: absolute;
  top: 1400px;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0;
  height: 213.33px;
  width: 300px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  grid-area: Landing;
}
.overlay5{
  position: absolute;
  top: 1649px;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0;
  height: 213.33px;
  width: 300px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  grid-area: huddle;
}

form {
  width: 200px;
  position: absolute;

  left: 15%;
  padding: 20px;
  border-radius: 8px;

}

.form-group {
  margin-bottom: 20px;
}

  }
  
/* .topnav {
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem;
}
.topnav button {
  background: none;
  border: none;
  padding: 0;
}
@media (width >= 40em) {
  .topnav button {
    display: none;
  }
}
.topnav__open[aria-expanded=true] + .topnav__menu {
  translate: 0;
}
@media (prefers-reduced-motion) {
  .topnav__open[aria-expanded=true] + .topnav__menu {
    opacity: 1;
  }
}
.topnav__close {
  display: block;
  margin-inline-start: auto;
  margin-block-end: 8rem;
}
.topnav__close img {
  width: 2.5rem;
}
@media (width < 40em) {
  .topnav__menu {
    position: fixed;
    inset: 0;
    padding: 1.5rem;
    background-color: hsl(256, 100%, 33%);
    translate: 100vw 0;
    transition: translate 0.5s ease-in-out;
  }
}
@media (width < 40em) and (prefers-reduced-motion) {
  .topnav__menu {
    translate: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
}
.topnav__links {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0;
  padding: 0;
}
@media (width < 40em) {
  .topnav__links {
    flex-direction: column;
  }
}
.topnav__item {
  list-style-type: none;
} */
.overlay{
  position: absolute;
  top: 400px;
  bottom: 0;
  opacity: 0;

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0;
  height: 213.33px;
  width: 300px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  grid-area: qr;
}
.overlay1{
  position: absolute;
  top: 400px;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0;
  height: 213.33px;
  width: 300px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  grid-area: news;
}

.overlay2{
  position: absolute;
  top: 400px;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0;
  height: 213.33px;
  width: 300px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  grid-area: agecal;
}
.overlay3{
  position: absolute;
  top: 650px;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0;
  height: 213.33px;
  width: 300px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  grid-area: col;
}
.overlay4{
  position: absolute;
  top: 650px;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0;
  height: 213.33px;
  width: 300px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  grid-area: Landing;
}
.overlay5{
  position: absolute;
  top: 650px;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0;
  height: 213.33px;
  width: 300px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  grid-area: huddle;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: #F5F7FA;
}
.qrdiv:hover .overlay {
  opacity: 0.8;
}
.newsdiv:hover .overlay1 {
  opacity: 0.8;
}
.agecaldiv:hover .overlay2 {
  opacity: 0.8;
}
.coldiv:hover .overlay3 {
  opacity: 0.8;
}
.Landingdiv:hover .overlay4 {
  opacity: 0.8;
}
.huddlediv:hover .overlay5 {
  opacity: 0.8;
}
