@import url(./font/Inter-VariableFont_slnt\,wght.ttf)
.git{
    position: absolute;
 
    top: 10px; /* Adjust this value as needed */
    right: 10px; /* Adjust this value as needed */
    z-index: 1000; /* Ensure the icon stays on top of other elements */
    text-decoration: none;

}
.git:hover,
.git:active {
  text-decoration: none; /* Remove underline on hover and active states */
}
#upwork-link{
    position: absolute;
 
    top: 10px; /* Adjust this value as needed */
    right: 50px; /* Adjust this value as needed */
    z-index: 1000; /* Ensure the icon stays on top of other elements */
    text-decoration: none;

}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #F5F7FA; height: 400px;
}
body {
    font-family: ;
    background-color: #DFF3FE; /* Replace with your desired color */
  }
#upwork-link:hover,
#upwork-link:active {
  text-decoration: none; /* Remove underline on hover and active states */
}
.gitimg{
    width: 20px;
    height: 20px

}
.center{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#showcase{
   display: grid;
   grid-template-areas: 'qr news agecal'
                        ' 3col Landing huddle';
                        /* 'tip '; */

    grid-gap: 10px;

}

.qr{
    grid-area: qr;
}
/* .tip{
    grid-area: tip;
} */
.agecal{
    grid-area: agecal;
}
.col{
    grid-area: 3col;
}
.Landing{
    grid-area: Landing;
}
.huddle{
    grid-area: huddle;
}
.news{
    grid-area: news;
}

#image{
   height: 213.33px;
    width: 300px;
} 
.qrlink{
  size: 24px;
  text-decoration: none;
  padding: 120px;

  grid-area: qr;
}
/* FORM */
footer{
    background-color: #F5F7FA; height: 400px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }